.navbar {
    background-color: #a01f1f;
}
.footer-links h6 {
font-weight: bold;
margin-bottom: 10px;
}
.footer-links ul {
list-style: none;
padding-left: 0;
}
.footer-links ul li {
margin-bottom: 6px;
}
.footer-bottom {
border-top: 1px solid white;
margin-top: 20px;
padding-top: 15px;
}
























@media (max-width: 1200px) {
    body {
        background-color: #ffffff;
        }
          
}
@media (max-width: 992px) {
    body {
        background-color: #ffffff;
    }
    
}
@media (max-width: 768px) {
    body {
        background-color: #ffffff;
    }
    
}
@media (max-width: 576px) {
    body {
        background-color: #ffffff;
    }
}