body {
    font-family: 'Savate', sans-serif;
    margin: 20px;
    padding: 10px;
    line-height: 1.5;
    background-color: #ffffff;
    color: #000000
}
header {
    
    top: 0;
    
    padding: 5px;
}
nav {
    padding: 2.5vw;
    text-align: center;
}
nav a {
    text-decoration: none;
    margin: 0 1.5vw 2.5vw;
    font-weight: bold;
    font-size: 2.5vw;
}

section {
    padding: 20px;
    margin: 10px;
}
#competenze {
    margin: auto;
    max-width: 100%;
}
#progress{
    padding: 20px;
    margin: 10px;
}
h1 {
    font-family: 'Courier New', Courier, monospace;
}
div {
    border: 2px;   
}
img {
    width: 100%;
    height: auto;
}
main {
    margin: auto;
    }
.btn-danger {
    margin: 15vw;
    padding: 30vw;
    width: 50%;
    text-align: center;
}
@media (max-width: 1200px) {
    body {
        background-color: #ffffff;
        }
          
}
@media (max-width: 992px) {
    body {
        background-color: #ffffff;
    }
    
}
@media (max-width: 768px) {
    body {
        background-color: #ffffff;
    }
    
}
@media (max-width: 576px) {
    body {
        background-color: #ffffff;
    }
}
